.strip-container {
  padding: 0 6rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.light {
  text-align: right;
  background-color: white;
  color: #1b1b1b;
}

.dark {
  text-align: left;
  background-color: #1b1b1b;
  color: white;
}

.info-card {
  padding: 1em;
  width: 50%;
  margin: 1.7em 0;
  transition: all 0.3s ease-out;
}

.card-light:hover {
  box-shadow: 8px 8px 15px rgba(0, 0, 0, 0.08),
    -8px -8px 15px rgba(0, 0, 0, 0.08);
  transition: all 0.3s ease-out;
}

.card-dark:hover {
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.4),
    -10px -10px 20px rgba(0, 0, 0, 0.4);
  transition: all 0.3s ease-out;
}

/* ========= Media Query ========== */

/* Large 4K Monitors */
@media only screen and (min-width: 1600px) {
}

/* For Tablets */
@media only screen and (max-width: 900px) {
  .strip-container {
    padding: 0 0.5rem;
  }
  .info-card {
    width: 70%;
    margin: 1.5em 0;
  }
}

/* For Mobile */
@media only screen and (max-width: 500px) {
  .info-card {
    width: 100%;
    margin: 1.2em 0;
    text-align: left;
  }
}
