html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

.align-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.align-left {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.align-right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.nav-bar {
  padding: 1rem 5rem;
  margin-bottom: 3rem;
}

.page-title {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 37px;
  color: #292929;
}

.skill-set {
  margin: 4rem 0;
}

.skills {
  margin: 0.5rem;
}

.skills > ul {
  list-style: none;
}

.skills > ul > li {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 19px;
  line-height: 23px;
  padding: 0 3rem;
  color: #393939;
}

.dot {
  margin: 0 1rem;
  width: 0.7rem;
  height: 0.7rem;
  border-radius: 50%;
  background-color: #ff8787;
}

.project-card-light {
  padding: 2rem 3rem;
  height: fit-content;
  text-align: right;
  margin-right: 10rem;
  width: 60rem;
  margin-left: 10rem;
}

.project-card-dark {
  padding: 2rem 3rem;
  height: fit-content;
  text-align: left;
  margin-right: 10rem;
  width: 60rem;
  margin-right: 10rem;
}

.dark {
  text-align: left;
}

.project-title {
  margin-top: 1rem;
  margin-bottom: 3rem;
}

.project-title-text {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 800;
  font-size: 35px;
  line-height: 35px;
  letter-spacing: 0.15em;
  color: #212121;
}

.project-tech {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  letter-spacing: 0.1em;
  padding: 0 0.5rem;
  color: #292929;
}

.project-description-text {
  font-family: Work Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  text-align: right;
  color: #292929;
}

.btn {
  margin: 3rem 0;
}

.more-btn {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.1em;
}

.learn-more-white {
  padding: 1rem 2rem;
  border: 3px solid #393939;
  width: fit-content;
}

.btn:hover .learn-more-white {
  background-color: #393939;
  color: white;
  cursor: pointer;
}

.project-card-light:hover {
  box-shadow: 8px 8px 15px rgba(0, 0, 0, 0.1), -8px -8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-out;
}

.project-card-dark:hover {
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.3),
    -10px -10px 20px rgba(0, 0, 0, 0.3);
  transition: all 0.3s ease-out;
}

.learn-more-dark {
  padding: 1rem 2rem;
  border: 2px solid white;
  width: fit-content;
  color: white;
}

.btn-dark {
  margin-top: 3rem;
}

.btn-dark:hover .learn-more-dark {
  background-color: white;
  color: black;
  transition: all 0.3s ease-out;
  cursor: pointer;
}
