.strip-container {
  position: absolute;
  top: 0;
  left: 0;
  height: 7rem;
  width: fit-content;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  padding-left: 3rem;
  justify-content: center;
  align-items: flex-start;
}

.nav-wrapper {
  height: fit-content;
  width: fit-content;
  display: flex;
  align-items: center;
  flex-direction: row;
  background-color: white;
  padding-right: 1rem;
}

.page-title {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 37px;
  letter-spacing: 0.1em;
  color: #000000;
}

.sub-menu-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  margin: 0;
  height: 100vh;
  z-index: 2;
  display: none;
}

.left-bar-container {
  position: absolute;
  top: -2rem;
  left: -2rem;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  background-color: white;
  transition: all 0.3s ease;
}

.menu {
  margin-left: 13rem;
  margin-top: 2.3rem;
  opacity: 0;
  width: 100%;
}

.after-animation-left {
  top: 0;
  left: 0;
  width: 39.5%;
  height: 100%;
  border-radius: 0%;
  transition: all 0.3s ease;
}

.right-bar-container {
  position: absolute;
  top: 0;
  left: 39.5%;
  width: 60.5%;
  height: 0%;
  background-color: #1f1f1f;
  transition: all 0.3s ease;
}

.after-animation-right {
  transition: all 0.3s ease;
  height: 100%;
}

.left-bar-content {
  display: none;
  flex-direction: column;
}

.right-bar-content {
  display: none;
  height: 100%;
  flex-direction: column;
}

.branch {
  font-family: Playfair Display;
  font-style: normal;
  font-weight: normal;
  font-size: 75px;
  line-height: 120px;
  text-align: center;
  margin: 1rem 0;
  color: #ffffff;
  opacity: 40%;
  transition: opacity 0.2s linear;
}

.home:hover {
  opacity: 100%;
}

.work:hover {
  opacity: 100%;
}

.about:hover {
  opacity: 100%;
}

.contact:hover {
  opacity: 100%;
}

.hand-prop {
  margin: 12rem 0;
}

.reach-me {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
