@font-face {
    font-family: 'sf_monoregular';
    src: url('fonts/SFMonoRegular.woff') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'sf_monosemibold';
    src: url('fonts/SFMonoSemibold.woff') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'sf_monobold';
    src: url('fonts/SFMonoBold.woff') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'sf_monolight';
    src: url('fonts/SFMonoLight.woff') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'sf_monomedium';
    src: url('fonts/SFMonoMedium.woff') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'nycd_regular';
    src: url('fonts/nothingyoucoulddo-regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'worksans_regular';
    src: url('fonts/worksans-regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'worksans_medium';
    src: url('fonts/worksans-medium.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'worksans_light';
    src: url('fonts/worksans-light.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'worksans_semibold';
    src: url('fonts/worksans-semibold.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'worksans_bold';
    src: url('fonts/worksans-bold.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'playfair_bold';
    src: url('fonts/playfairdisplay-bold.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'playfair_black';
    src: url('fonts/playfairdisplay-black.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}